/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.original, .ajaxed-in {
  padding: 5px;
  border: 1px solid black; }

.original {
  background: #cccccc; }

.ajaxed-in {
  background: white; }
