/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.inline-lst> ul {
  margin-left: 0; }
  .inline-lst> ul> li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0 0; }
    .inline-lst> ul> li> a {
      text-decoration: none; }
  .inline-lst> ul li.box {
    margin-bottom: 0.4em; }
.inline-lst li img {
  margin-bottom: 0; }

.box a, .lbx-hide-gal li:first-child.box> a {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  text-align: center;
  line-height: 148px;
  background: #eeeeee; }

.box> a:hover, .box> a:focus, .box> a:active {
  text-decoration: underline;
  background: white; }

