@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.1-development - 2014-04-15
 *
 *//*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

.cal-days td.datepicker-selected a,
.cal-days a:hover,
.cal-days a:focus {
  color: #fff !important;
}

.form-group .wb-date-wrap input,
.form-inline .form-group .wb-date-wrap {
  display: inline-block;
}

.cal-cnt.picker-overlay {
  position: absolute;
  z-index: 498 !important;
  margin-top: -2em;
}

.form-group .wb-date-wrap {
  display: block;
}

.picker-close {
  font-size: 1.7em;
}

.picker-field {
  width: 7em;
}

.picker-toggle {
  display: inline-block;
  margin-left: 5px;
  background: none;
  border: 0;
  vertical-align: middle;
}

.picker-toggle:link,
.picker-toggle:visited,
.picker-toggle:focus {
  color: #000;
}

.picker-toggle span {
  font-size: 1.3em;
}

.cal-days a {
  text-decoration: underline;
}

.cal-days td.datepicker-selected a {
  background-color: #333;
}

.cal-days a {
  color: #111;
}

.datepicker-format {
  display: inline !important;
}