/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/* Progress polyfill */

progress .outer,
progress .undef {
  height: 1em;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
}

progress {
  display: inline-block;
}

progress .outer {
  background-color: white;
}

progress .undef {
  background-color: #ff9999;
}

progress .inner {
  height: 100%;
  border: none;
  background-color: #009900;
}