/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 Plugins
 */

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 *	Overlay base
 */

.ie8 .wb-overlay {
  border: 1px solid #cccccc;
}

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

.wb-tabs {
  /*
	 * Large screen styles
	 */
}

@media (min-width: 785px) {
  .wb-tabs > details {
    display: none;
  }

  .wb-tabs > details[open],
  .wb-tabs > details.in {
    display: block;
  }
}

/* Print view */

@media print {
  /*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

  .ie8 .wb-fnote dl dd {
    display: block;
  }

  .ie8 .wb-fnote dl dd p {
    display: inline-block;
  }

  .ie8 .wb-fnote dl dd p.fn-rtn {
    display: block;
  }
}