@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.0-a1-development - 2013-12-09
 *
 *//*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 Plugins
 */

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

/*
 *	Overlay base
 */

.ie8 .wb-overlay {
  border: 1px solid #cccccc;
}

/*
 Polyfills
 */

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

.lt-ie9 details> * {
  display: none;
}

.lt-ie9 details[open]> * {
  display: block !important;
}

/* Print view */

@media print {
  /*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */

  .ie8 .wb-fnote dl dd {
    display: block;
  }

  .ie8 .wb-fnote dl dd p {
    display: inline-block;
  }

  .ie8 .wb-fnote dl dd p.fn-rtn {
    display: block;
  }
}