@charset "utf-8";
/*!
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 * v4.0.4-development - 2014-07-11
 *
 *//*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/*
 Plugins
 */
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/**
 * Mobile-friendly styles
 */
.wb-tabs > details > summary, .wb-tabs > .tabpanels > details > summary {
  display: block !important; }

.wb-tabs {
  /* Only for backwards compatibility. Should be removed in v4.1. */ }
  .wb-tabs [role="tablist"] {
    display: none; }
  .wb-tabs [role="tabpanel"] {
    display: block;
    opacity: 1; }

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
/*
 * Menu Sass (noscript)
 */
#wb-srch, #wb-sm, #wb-sec, #wb-info {
  display: block !important; }

#wb-glb-mn {
  display: none !important; }

/*
 Polyfills
 */
/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
details > * {
  display: block !important; }

/*
 * Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 */
.datepicker-format {
  display: inline; }

.nojs-show {
  display: block !important; }

.nojs-hide {
  display: none !important; }
